In [1]:
from requests import get

In [2]:
url = get("https://www.imdb.com/search/title/?count=100&groups=top_1000&sort=user_rating")

In [3]:
request = url.text

In [4]:
from bs4 import BeautifulSoup as Soup

In [5]:
soup_data = Soup(request,'html.parser')

In [6]:
soup_data.title.text

'IMDb "Top 1000"\n(Sorted by IMDb Rating Descending) - IMDb'

In [7]:
movies = soup_data.findAll('div',{'class':'lister-item mode-advanced'})

In [8]:
first_movie = movies[0]

In [9]:
first_movie.h3.a.text #Name of movie

'The Shawshank Redemption'

In [10]:
first_movie.find('span',{"class":"lister-item-year text-muted unbold"}).text[1:5] #Year

'1994'

In [11]:
first_movie.find('div',{"class":"inline-block ratings-imdb-rating"}) ['data-value'] #rating

'9.3'

In [12]:
first_movie.find('div',{"class":"inline-block ratings-metascore"}).span.text.strip() #metascore

'80'

In [13]:
first_movie.find('span',{"name":'nv'})['data-value'] #voting

'2459079'

In [14]:
Name = []
Year = []
Rating = []
Metascore = []
Votes = []
for i in movies :
    Name.append(i.h3.a.text)
    Year.append(i.find('span',{"class":"lister-item-year text-muted unbold"}).text[1:5])
    Rating.append(i.find('div',{"class":"inline-block ratings-imdb-rating"}) ['data-value'])
    try:
      Metascore.append(i.find('div',{"class":"inline-block ratings-metascore"}).span.text.strip())
    except:
      Metascore.append(0)
    Votes.append(i.find('span',{"name":'nv'})['data-value'])

In [15]:
data = list(zip(Name,Year,Rating,Metascore,Votes))

In [16]:
import pandas as pd
df = pd.DataFrame(data,columns=['Name',"Year","Rating","Metascore","Votes"])

In [17]:
df.head()

                       Name  Year Rating Metascore    Votes
0  The Shawshank Redemption  1994    9.3        80  2459079
1             The Godfather  1972    9.2       100  1701250
2           Soorarai Pottru  2020    9.1         0    89631
3           The Dark Knight  2008      9        84  2414713
4    The Godfather: Part II  1974      9        90  1181635

In [18]:
df.to_csv (r'C:\Users\Siwar\export_dataframe.csv', index = False, header=True)

In [19]:
print (df)

                                  Name  Year Rating Metascore    Votes
0             The Shawshank Redemption  1994    9.3        80  2459079
1                        The Godfather  1972    9.2       100  1701250
2                      Soorarai Pottru  2020    9.1         0    89631
3                      The Dark Knight  2008      9        84  2414713
4               The Godfather: Part II  1974      9        90  1181635
..                                 ...   ...    ...       ...      ...
95             Jodaeiye Nader az Simin  2011    8.3        95   231646
96                           Incendies  2010    8.3        80   161383
97  Kimetsu no Yaiba: Mugen Ressha-Hen  2020    8.3        75    34891
98                          The Father  I) (    8.3        88    93651
99                      Babam ve Oglum  2005    8.3         0    82940

[100 rows x 5 columns]